#catalog-breadcrumbs {
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: .8em;
  padding: .4em .8em;
  background: #FFF;
  text-shadow: white 0 1px 1px;
  border-radius: 3px;
  overflow: auto;
}
#catalog-breadcrumbs p {
  display: inline-block;
  margin: 0;
  line-height: 1.5;
}
#catalog-breadcrumbs a {
  text-decoration: none;
}
#catalog-search {
  float: right;
}
#catalog-search-query {
  vertical-align: top;
  width: 15em;
  font-size: .8em;
}
#catalog-search input {
  vertical-align: middle;
}
.block-name a {
  text-decoration: none;
}
.block-name a:hover {
  text-decoration: underline;
}
#catalog th,
#catalog td {
  padding-right: 1em;
}
#catalog th.actions,
#catalog td.actions {
  padding-right: 0;
  text-align: center;
}
#categories .name {
  font-weight: bold;
}
#catalog ul.actions {
  margin: .5em 0 0 0;
}
#catalog ul.actions li {
  list-style: none;
}
#catalog ul.actions a {
  text-decoration: none;
}
#catalog.collapsed .block-header h1 {
  cursor: default;
}
#catalog.collapsed .block-header {
  cursor: ns-resize;
}
#catalog.collapsed .block-body {
  display: none;
}
#productImages {
  margin: 0;
}
#productImages:empty {
  display: none;
}
#productImages li {
  display: inline-block;
  text-align: center;
  margin: .5em 1em .5em 0;
}
#productImages .thumb {
  display: block;
  padding: 7px;
  max-width: 192px;
  max-height: 114px;
  background: #666;
}
#productImages .thumb:hover {
  background: #F50;
}
#productImages .thumb.default {
  background: #adff2f;
}
#productImages .thumb img {
  max-width: 178px;
  max-height: 100px;
}
#productImages .actions {
  margin-top: .25em;
}
#gallery {
  padding: .75em 1em;
}
#issues,
#files {
  padding: 1em;
}
#issues .min,
#files .min {
  padding-right: 1em;
}
.product-description {
  border-top: 1px dotted #CCC;
  padding-top: 1em;
}
.product-markings:empty {
  display: none;
}
.product-markings {
  text-align: right;
}

#catalog-container {

}
#catalog-tree-container {
  width: 30em;
  float: left;
}
#catalog-contents-container {
  margin-left: 31em;
}
#catalog-contents-container > :first-child {

}
#catalog-tree .block-body {
  overflow: auto;
}
.catalog-tree-categories {
  display: none;
  margin-left: 1.5em;
}
.catalog-tree-level-0 {
  margin-left: 0;
  display: block;
}
.catalog-tree-category {
  list-style: none;
  white-space: nowrap;
}
.catalog-tree-category-name {
  margin-left: .5em;
  text-decoration: none;
  vertical-align: top;
}
label.catalog-tree-category-toggle {
  background-image: url(../../_static_/img/treeExpandImages.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}
input.catalog-tree-category-toggle {
  position: absolute;
  top: -10em;
  left: -10em;
}
input.catalog-tree-category-toggle:checked + label.catalog-tree-category-toggle {
  background-position: -36px 0;
}
.catalog-tree-without-children > label.catalog-tree-category-toggle {
  background-position: -36px 0;
  cursor: default;
}
input.catalog-tree-category-toggle:checked ~ .catalog-tree-categories {
  display: block;
}

.block-name {
  float: none!important;
}
.block-header::after {
  clear: none;
}
.product-description {
  clear: both;
}
#product,
#productTabs {
  float: left;
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  #catalog-tree .block-body {
    max-height: 20em;
  }
  #catalog-tree-container {
    width: auto;
    float: none;
  }
  #catalog-contents-container {
    margin-left: 0;
  }
}

ul.actions {
  margin: 1em 0 0 0;
}
ul.actions:first-child {
  margin-top: 0;
}
ul.actions li {
  list-style: none;
  margin: 0;
}
ul.actions a {
  text-decoration: none;
  vertical-align: top;
}

#productFileUrlForm {
  display: none;
}
#productFileUploader {
  vertical-align: top;
}
#productFileUrl {
  margin-top: 1em;
  height: 30px;
}
#productFileUrlName {
  width: 286px;
}
#productFileUrlFile {
  width: 500px;
}
