.attributes th
{
  width: 35%;
  font-size: 1em;
}
.attributes td
{
  border: 0!important;
  font-size: 1.2em;
  color: #000;
}
.attributes tr
{
  border-top: 1px dotted #CCC;
}
.attributes tr:first-child
{
  border-top: 0;
}
.attributes tr:hover td
{
  color: inherit;
}
#description
{
  border-top: 1px dotted #CCC;
  padding-top: 1em;
}
#assignees th
{
  padding-top: .5em;
  vertical-align: top;
}
#newAssignee
{
  width: 13em;
}
.yui-gc .yui-u .yui-g
{
  width: 100%;
  margin-left: 0;
  float: none;
}
#newAssigneeForm label
{
  display: block;
  margin-top: .5em;
}
.removeAssignee
{
  text-decoration: none;
  vertical-align: middle;
}
@media only screen and (min-width: 1280px)
{
  .attributes tr:first-child th,
  .attributes tr:first-child td
  {
    padding-top: 0;
  }
}
@media only screen and (max-width: 1280px)
{
  .yui-u
  {
    float: none!important;
    width: 100%!important;
    margin: 0!important;
  }

  .attributes tr:first-child,
  .attributes tr:first-child
  {
    border-top: 1px dotted #CCC;
  }
}

#relatedIssues
{
  padding: 1em;
}
.documentation
{
  padding: 1em;
  border-bottom: 1px dotted #CCC;
}
.documentation:hover
{
  background: #FEFEE5;
}
.documentation .fff
{
  display: none;
}
.documentation:hover .fff
{
  display: inline;
}
.documentation dl
{
  margin-bottom: 0;
}
.documentation dd
{
  display: list-item;
  list-style: square;
  margin: .5em 0 0 2em;
}
#files
{
  padding: 1em;
}
#files .name
{
  padding-right: 1em;
}
#issueFileUploader
{
  margin-top: 1em;
}
#documentationsOptions
{
  padding: 1em;
}
ul.actions
{
  margin: 1em 0 0 0;
}
ul.actions:first-child
{
  margin-top: 0;
}
ul.actions li
{
  list-style: none;
  margin: 0;
}
ul.actions a
{
  text-decoration: none;
  vertical-align: top;
}
#addTaskForm
{
  padding: 1em;
  border-top: 1px dotted #CCC;
}
#taskFilters
{
  padding: 1em;
  margin: 0;
  line-height: 1;
}
#taskFilters a
{
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  background: linear-gradient(top, #FFF, #BBB);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#BBB));
  background: -moz-linear-gradient(top, #FFF, #BBB);
  color: #333;
  text-shadow: 0 1px 1px #FFF;
  font-weight: bold;
  box-shadow: 0 0px 2px #333;
}
#taskFilters a.active
{
  background: linear-gradient(top, #BBB, #FFF);
  background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#FFF));
  background: -moz-linear-gradient(top, #BBB, #FFF);
  text-shadow: 0 -1px 1px #FFF;
}
.task
{
  padding: 1em;
  border-top: 1px dotted #CCC;
}
.task:hover
{
  background: #FEFEE5;
}
.task .fff
{
  display: none;
}
.task:hover .fff
{
  display: inline;
}
.task > h1
{
  margin-bottom: 0;
  cursor: n-resize;
}
.ui-sortable .summary
{
  cursor: move;
}
.task .bd
{
  margin-top: 1em;
  display: none;
}
.task dl,
.task dd:last-child
{
  margin-bottom: 0;
}
.task .description
{
  margin-bottom: 1em;
}
.entry
{
  padding: 1em;
  border-bottom: 1px dotted #CCC;
  max-height: 10em;
  overflow-y: auto;
}
.expanded
{
  max-height: none;
  overflow-y: hidden;
}
.entry:hover
{
  background: #FEFEE5;
}
.entry h3
{
  font-weight: bold;
}
.entry .changes:last-child
{
  margin-bottom: 0;
}
.quotable .reply
{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.quotable:hover .reply
{
  display: inline;
}
.collapsed .changes,
.collapsed .comment
{
  display: none;
}
.collapsed h3
{
  cursor: n-resize;
  margin-bottom: 0;
}
.comment
{
  position: relative;
}
.comment blockquote
{
  border-left: 5px solid #CCC;
  padding-left: .5em;
}
.changes .field
{
  font-weight: bold;
}
.changes .oldValue,
.changes .newValue
{
  font-style: italic;
}
.systemChanges
{
  margin-bottom: 0;
}
#updateIssueForm
{
  padding: 1em;
}
#timeSpentContainer
{
  display: table;
  width: 100%;
}
#timeContainer
{
  display: table-cell;
  width: 1em;
  white-space: nowrap;
}
#timeCommentContainer
{
  display: table-cell;
  padding-left: 1em;
}
#moreActivities
{
  font-weight: bold;
  margin: 0;
  padding: 1em;
  border-bottom: 1px dotted #CCC;
  text-decoration: none;
}
